body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: yellowgreen;
}

header {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}
.nav-menu {
    list-style:none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    margin-right:20px ;
}

.nav-menu a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #2c3e50;
    color: white;
    border-radius: 5px;
}

.nav-menu a:hover {
    background-color: #1abc9c;
}

main {
    padding: 20px;
    background-color: white;
    margin: 15px;
    border-radius: 5px;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
}